{# templates/home/home.html.twig #}



{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">

            <h1>List des prix</h1>
            <table class="table">
                <thead>
                <th>Prix</th>
                <th>Vendeur concurrent</th>
                <th>Etat</th>
                </thead>
                <tbody>
                 {% set choises = [] %}
                 {% set choises = choises|merge({0: ''}) %}
                 {% set choises = choises|merge({1: 'Etat moyen'}) %}
                 {% set choises = choises|merge({2: 'Bon ètat'}) %}
                 {% set choises = choises|merge({3: 'Très bon ètat'}) %}
                 {% set choises = choises|merge({4: 'Comme neuf'}) %}
                 {% set choises = choises|merge({5: 'Neuf'}) %}


                 {% for item in pricelist %}
                    <tr>
                        <td>{{ item.price }}</td>
                        <td>{{ item.vendor }}</td>
                        <td>{{ choises[item.stat] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-md-4">

            <div class="row">
                <h1>{{ form_pricelist_title }}</h1>


                    {{ form_start(form_pricelist) }}
                    <div class="col">
                        {{ form_row(form_pricelist.vendor) }}
                    </div>
                    <div class="col">
                        {{ form_row(form_pricelist.stat) }}
                    </div>
                    <div class="col">
                        {{ form_row(form_pricelist.price) }}
                    </div>
                    {{ form_end(form_pricelist) }}




            </div>

            <div class="row">
                <h1>{{ form_title }}</h1>

                {{ form(form) }}
            </div>


            <div class="row">


                {% if strategyA is defined %}
                    <p>la stratégie 1 (1 centime moins
                        cher que les concurrents qui ont un état égal au sien): </p>
                    <p>{{ strategyA }} €</p>
                {% endif %}

                {% if strategyB is defined %}
                    <p>la stratégie 2 (1 euro moins cher que les concurrents qui
                        ont un meilleur état que le sien): </p>
                    <p>{{ strategyB }} €</p>
                {% endif %}
            </div>


        </div>


        {% endblock %}


